Paso 1: Importo las librerias necesarias para procesar los archivos y calcular los totales requeridos

In [0]:
import pandas as pd
import numpy as np

Paso 2: Importo al notebook el archivo input. En nuestro caso, cuando el dialogo nos permita cargar nuestro archivo seleccionamos como input cellphoneslisting.csv. Este archivo esta dentro de la carpeta Inputs.

In [3]:
from google.colab import files
uploaded = files.upload()

Saving cellphoneslisting.csv to cellphoneslisting.csv

Paso 3: Leemos el archivo subido. Establecemos como delimitador el espacio '\x01' y la columna id que funcionará como índice. Imprimos un cout parcial en pantalla.

In [4]:
df = pd.read_csv('cellphoneslisting.csv', sep='\x01',index_col='id')
Paodf.head()

                                                title      sales  unit_sales
id
1   Nokia Asha 503 Dual Sim Liberado  Nuevos   Gar...    2996.99           1
2   Samsung Galaxy A5 A500 16gb Refabricado 2gb Ra...   31495.00           5
3   Celular Android Smartphone Liberado 4g Lte Tcl...   77380.00          20
4   Telefono Celular Lg G7 4g Lte Libre Nuevo Gara...   99997.00           3
5   Telefono Celular Lg G7 New Platinum Gray 4g Lt...  219992.00           8

Paso 4: Descargamos un dataset de telefonos por marca actualizado.

Link al dataset: https://www.kaggle.com/arwinneil/gsmarena-phone-dataset  

Este Dataset fue creado utilizando tecnicas de Scrapping sobre la página GSMarena.

Paso 5: Teniendo dicho dataset. Procesamos externamente el archivo utilizando excel. Nos quedamos con la columna 'brand' (marcas) y finalmente eliminamos los duplicados quedandos así con un total de 108 resultados.

Posteriormente armamos  manualmente el listado que puede verse abajo (brand_dict) como un dicccionarío para luego ser utilizado en una función de mapeo. Se agregaron, por ej., a la marca "Samsung" otros posibles resultados. Haciendo un scouting manual básico sobre la columna title detectamos una serie de casos similares de modelos de telefonos de la marca pero que no tenían la mención correspondiente a la misma.

In [0]:
brand_dict = {
    "Acer" :["Acer"],
    "Alcatel" :["Alcatel"],
    "Allview" :["Allview"],
    "Amazon" :["Amazon"],
    "Amoi" :["Amoi"],
    "Apple" :["Apple"],
    "Archos" :["Archos"],
    "Asus" :["Asus"],
    "AT&T" :["AT&T"],
    "Benefon" :["Benefon"],
    "BenQ" :["BenQ"],
    "BenQ-Siemens" :["BenQ-Siemens"],
    "Bird" :["Bird"],
    "BlackBerry" :["BlackBerry","Blackberry"],
    "Blu" :["Blu"],
    "Bosch" :["Bosch"],
    "BQ" :["BQ"],
    "Casio" :["Casio"],
    "Cat" :["Cat"],
    "Celkon" :["Celkon"],
    "Chea" :["Chea"],
    "Coolpad" :["Coolpad"],
    "Dell" :["Dell"],
    "Emporia" :["Emporia"],
    "Energizer" :["Energizer"],
    "Ericsson" :["Ericsson"],
    "Eten" :["Eten"],
    "Fujitsu Siemens" :["Fujitsu Siemens"],
    "Garmin-Asus" :["Garmin-Asus"],
    "Gigabyte" :["Gigabyte"],
    "Gionee" :["Gionee"],
    "Google" :["Google"],
    "Haier" :["Haier"],
    "HP" :["HP"],
    "Htc" :["Htc"],
    "Huawei" :["Huawei"],
    "i-mate" :["i-mate"],
    "i-mobile" :["i-mobile"],
    "Icemobile" :["Icemobile"],
    "Innostream" :["Innostream"],
    "iNQ" :["iNQ"],
    "Intex" :["Intex"],
    "Jolla" :["Jolla"],
    "Karbonn" :["Karbonn"],
    "Kyocera" :["Kyocera"],
    "Lava" :["Lava"],
    "LeEco" :["LeEco"],
    "Lenovo" :["Lenovo"],
    "Lg" :["Lg"],
    "Maxon" :["Maxon"],
    "Maxwest" :["Maxwest"],
    "Meizu" :["Meizu"],
    "Micromax" :["Micromax"],
    "Microsoft" :["Microsoft"],
    "Mitac" :["Mitac"],
    "Mitsubishi" :["Mitsubishi"],
    "Modu" :["Modu"],
    "Motorola" :["Motorola"],
    "MWg" :["MWg"],
    "NEC" :["NEC"],
    "Neonode" :["Neonode"],
    "NIU" :["NIU"],
    "Nokia" :["Nokia"],
    "Nvidia" :["Nvidia"],
    "O2" :["O2"],
    "OnePlus" :["OnePlus"],
    "Oppo" :["Oppo"],
    "Orange" :["Orange"],
    "Palm" :["Palm"],
    "Panasonic" :["Panasonic"],
    "Pantech" :["Pantech"],
    "Parla" :["Parla"],
    "Philips" :["Philips"],
    "Plum" :["Plum"],
    "Posh" :["Posh"],
    "Prestigio" :["Prestigio"],
    "QMobile" :["QMobile"],
    "Qtek" :["Qtek"],
    "Sagem" :["Sagem"],
    "Samsung": ["Samsung", "Sansung", "Galaxy", "Samgung"],
    "Sendo" :["Sendo"],
    "Sewon" :["Sewon"],
    "Sharp" :["Sharp"],
    "Siemens" :["Siemens"],
    "Sonim" :["Sonim"],
    "Sony" :["Sony"],
    "Sony Ericsson" :["Sony Ericsson"],
    "Spice" :["Spice"],
    "T-Mobile" :["T-Mobile"],
    "Tel.Me." :["Tel.Me."],
    "Telit" :["Telit"],
    "Thuraya" :["Thuraya"],
    "Toshiba" :["Toshiba"],
    "Unnecto" :["Unnecto"],
    "Vertu" :["Vertu"],
    "verykool" :["verykool"],
    "vivo" :["vivo"],
    "VK Mobile" :["VK Mobile"],
    "Vodafone" :["Vodafone"],
    "Wiko" :["Wiko"],
    "WND" :["WND"],
    "XCute" :["XCute"],
    "Xiaomi" :["Xiaomi"],
    "XOLO" :["XOLO"],
    "Yezz" :["Yezz"],
    "Yota" :["Yota"],
    "YU" :["YU"],
    "ZTE" :["ZTE"]
}

Paso 6: Defino la función mapping_brand la cual en función de una lista recibida y el dicionario brand_dict definido previamente,  obtengo la marca que le corresponde a la fila haciendo un mapping palabra a la palabra dentro de la columna title. Si no se encuentra la marca se lo marco como 'Others' (Otros).

In [0]:
def mapping_brand(val):
    for key, values in d.items():
        if any(value in val for value in values):
            return key
    return 'Others'

Paso 7: Creo una nueva columna llamada 'brand'. Utilizando la función mapping_brand definiva previamente,  encuentro la marca del telefono en la columna title. La misma columna luego la voy a utilizar para hacer el grouping.

In [0]:
df['brand'] = df.title.map(mapping_brand)

Paso 8: Agrupo y sumo por la columna brand, tanto las unit_sales como las sales.

In [91]:
output = df.groupby('brand').sum().sort_values(by=['unit_sales'], ascending=False)
output.head()

                sales  unit_sales
brand
Samsung   88540328.39        8997
Xiaomi    60658031.54        5063
Lg        33138908.32        5025
Motorola  48830655.54        4853
Others    24957236.96        4221

Paso 9: Exporto el output al archivo resolution_challenge.csv. Este archivo queda contenido en la carpeta outputs

In [0]:
output.to_csv('resolution_challenge.csv')
files.download('resolution_challenge.csv')

# **CONCLUSIONES**

**Asunciones del dataset:**

1.   Las marcas dentro de la columna title se asumieron como bien "escritas" o lo más cercano. Hay dos ejemplos, Samsung y Blackberry que contemplan otros valores dentro de la columna title para el brand.
2.   Asuminos que las marcas de telefonos obtenidas del dataset bajado de internet se encuentran escritas de la manera correcta tal como se conocen en la actualidad. A su vez, asuminos que las marcas del listado son todas las marcas conocidas y que si llegará a faltar alguna no se considera por que el listado ya incluye casí todas.

**Resultados:**

1.   Se logro obtener como resultado el listado por marca con el total de unidades de venta y ganacias.
2.   Como se puede observar en la columna brands, como 5to. resultado tenemos a la marca 'Others' que no es más que una marca ficticia para aquellos telefonos donde no pudo encontarse un valor conocido. Claramente, nuestro algoritmo de búsqueda esta buscando machear por valores exactos, lo que lleva a no considerar como posibles candidatos a titles donde quizas por un solo mal tipeo no resulte de una marca del listado.
3.   Para obtener un mejor resultado deberiamos prepocesar el listado para evitar este tipo de errores o bien utilizar otra técnica menos restrictiva para la búsqueda que permita mapear valores de las marcas con valores parecidos dentro de la columna title.

***Otros Metodos probados y futura implementación: ***

Se probo machear el listado de brands utilizando Fuzzy maching utilizando la libreria wuzzyfuzzy pero logicamente, al ser el String de la columna title más largo que la palabra buscado los resultados no eran los esperados. Lo ideal para utilizar esta técnica sería limpiar la columna title de preposiciones, palabras no claves y dejar solo aquellas relacionadas a nombres. Luego, nuevamente aplicar aplicar Fuzzy matching y comparar los resultados. Al no ser el nombre de las brands exactos, ya sea por acción u omisión al momento de la toma, debemos procesar el archivo y hacer una mejor búsqueda utilizando esta técnica.